.navbar {
  @include box-shadow(0, 2px, 5px, rgba(0, 0, 0, 0.125));

  .navbar-brand {
    font-weight: bold;
    color: #003d5f;
    position: relative;
    display: inline-block;

    .navbar-logo {
      position: absolute;
      top: 10px;
      height: 32px;
      width: 32px;
    }
  }

  .navbar-brand-admin {
    @extend .navbar-brand;
    color: #eee;
  }

  .navbar-dropdown-admin {
    text-transform: uppercase;
    font-weight: bold;
  }

  //overwrite boostrap class
  .dropdown-header {
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 12px;
  }

  .navbar-brand-label {
    margin-left: 35px;
  }
}