extends ../../layouts/account

block head
  title Account Area

block neck
  link(rel='stylesheet', href='/views/account/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/account/index.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-sm-6
      div.page-header
        h1 My Account
      div.row
        div.col-sm-4
          div.well.stat
            div.stat-value.day-of-year --
            div.stat-label Day of Year
        div.col-sm-4
          div.well.stat
            div.stat-value.day-of-month --
            div.stat-label Day of Month
        div.col-sm-4
          div.well.stat
            div.stat-value.week-of-year --
            div.stat-label Week of Year
      div.row
        div.col-sm-4
          div.well.stat
            div.stat-value.day-of-week --
            div.stat-label Day of Week
        div.col-sm-4
          div.well.stat
            div.stat-value.week-year --
            div.stat-label Week Year
        div.col-sm-4
          div.well.stat
            div.stat-value.hour-of-day --
            div.stat-label Hour of Day
    div.col-sm-6.special
      div.page-header
        h1 Go Faster Everyday
      i.fa.fa-dashboard.super-awesome
