extends ../../../layouts/admin

block head
  title Accounts / Details

block feet
  script(src='/views/admin/accounts/details.js')

block body
  #header
  #contact.form-horizontal
  #login.form-horizontal
  #delete.form-horizontal
  
  script(type='text/template', id='tmpl-header')
    div.page-header
      h1
        a(href='/admin/accounts/') Accounts
        |  / <%= name.full %>
  
  script(type='text/template', id='tmpl-contact')
    legend Contact Info
    div.alerts
      |<% _.each(errors, function(err) { %>
      div.alert.alert-error
        |<%= err %>
      |<% }); %>
      |<% if (success) { %>
      div.alert.alert-info
        | Changes have been saved.
      |<% } %>
    div.control-group(class!='<%= errfor["name.first"] ? "error" : "" %>')
      label.control-label First Name:
      div.controls
        input(type='text', name='name.first', value!='<%= name.first %>')
        span.help-inline <%= errfor['name.first'] %>
    div.control-group(class!='<%= errfor["name.middle"] ? "error" : "" %>')
      label.control-label Middle Name:
      div.controls
        input(type='text', name='name.middle', value!='<%= name.middle %>')
        span.help-inline <%= errfor['name.middle'] %>
    div.control-group(class!='<%= errfor["name.last"] ? "error" : "" %>')
      label.control-label Last Name:
      div.controls
        input(type='text', name='name.last', value!='<%= name.last %>')
        span.help-inline <%= errfor['name.last'] %>
    div.control-group(class!='<%= errfor.company ? "error" : "" %>')
      label.control-label Company Name:
      div.controls
        input(type='text', name='company', value!='<%= company %>')
        span.help-inline <%= errfor.company %>
    div.form-actions
      button.btn.btn-primary.btn-update(type='button') Update
  
  script(type='text/template', id='tmpl-login')
    legend Login
    div.alerts
      |<% _.each(errors, function(err) { %>
      div.alert.alert-error
        |<%= err %>
      |<% }); %>
    div.control-group(class!='<%= errfor.newUsername ? "error" : "" %>')
      label.control-label Username:
      div.controls
        div.input-append
          |<% if (user.username) { %>
          span.uneditable-input
            |<%= user.username %>
          button.btn.btn-warning.btn-user-unlink(type='button') Unlink
          button.btn.btn-user-open(type='button') Open
          |<% } else { %>
          input(name='newUsername', type='text', placeholder='enter a username')
          button.btn.btn-success.btn-user-link(type='button') Link
          |<% } %>
        span.help-inline <%= errfor.newUsername %>
  
  script(type='text/template', id='tmpl-delete')
    legend Danger Zone
    div.alerts
      |<% _.each(errors, function(err) { %>
      div.alert.alert-error
        |<%= err %>
      |<% }); %>
    span.badge.badge-important
      | If you do this, it cannot be undone.
    | 
    span.muted
      | You may also create orphaned document relationships too.
    div.form-actions
      button.btn.btn-danger.btn-delete(type='button') Delete
  
  script(type='text/template', id='data-record') !{data.record}