extends ../../../layouts/default

block head
  title Reset Your Password

block feet
  script(src='/views/login/reset/index.min.js?#{cacheBreaker}')

block body
  div.page-header
    h1 Reset Your Password
  #reset
  
  script(type='text/template', id='tmpl-reset')
    form.form-horizontal
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-error
          button.close(type='button', data-dismiss='alert') &times;
          |<%= err %>
        |<% }); %>
        |<% if (success) { %>
        div.alert.alert-info
          button.close(type='button', data-dismiss='alert') &times;
          | Your password has been reset. Please login to confirm.
        |<% } %>
        |<% if (id == undefined) { %>
        div.alert.alert-warning
          button.close(type='button', data-dismiss='alert') &times;
          | You do not have a valid reset request.
        |<% } %>
      |<% if (!success && id != undefined) { %>
      div.control-group(class!='<%= errfor.password ? "error" : "" %>')
        label.control-label New Password:
        div.controls
          input(type='password', name='password', value!='<%= password %>')
          span.help-inline <%= errfor.password %>
      div.control-group(class!='<%= errfor.confirm ? "error" : "" %>')
        label.control-label Confirm Password:
        div.controls
          input(type='password', name='confirm', value!='<%= confirm %>')
          span.help-inline <%= errfor.confirm %>
      |<% } %>
      div.form-actions
        |<% if (!success && id != undefined) { %>
        button.btn.btn-primary.btn-reset(type='button') Set Password
        |<% } %>
        | 
        a.btn(href='/login/') Back to Login