extends ../../../layouts/default

block head
  title Reset Your Password

block feet
  script(src='/views/login/reset/index.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-sm-6
      div.page-header
        h1 Reset Your Password
      div#reset

  script(type='text/template', id='tmpl-reset')
    form
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
        |<% if (success) { %>
        div.alert.alert-info.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          | Your password has been reset. Please login to confirm.
        |<% } %>
        |<% if (id == undefined) { %>
        div.alert.alert-warning.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          | You do not have a valid reset request.
        |<% } %>
      |<% if (!success && id != undefined) { %>
      div.form-group(class!='<%- errfor.password ? "has-error" : "" %>')
        label New Password:
        input.form-control(type='password', name='password', value!='<%= password %>')
        span.help-block <%- errfor.password %>
      div.form-group(class!='<%- errfor.confirm ? "has-error" : "" %>')
        label Confirm Password:
        input.form-control(type='password', name='confirm', value!='<%= confirm %>')
        span.help-block <%- errfor.confirm %>
      |<% } %>
      div.form-group
        |<% if (!success && id != undefined) { %>
        button.btn.btn-primary.btn-reset(type='button') Set Password
        |<% } %>
        |&nbsp;
        a.btn.btn-link(href='/login/') Back to Login
