language: node_js
node_js:
  - "0.12"
  - "0.11"
  - "0.10"
before_install:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install -g grunt-cli
  - npm install -g bower
  - gem install sass
  - bower install
  - cd client && bower install
  - cd ..
install: npm install
before_script: grunt production