extends ../../../layouts/default

block head
  title Account Created

block body
  div.page-header
    h1 Account Created

    div.alert.alert-info
      | Your account has been created and is awaiting verification of your email address. Check your inbox for next steps.