extends ../../../layouts/default

block head
  title Verification Failed

block body
  div.page-header
    h1 Verification Failed
  
  div.alert.alert-danger
    | There was a problem verifying your account. This is strange.
