extends ../../../layouts/default

block head
  title Verification Successful

block body
  div.page-header
    h1 Verification Successful
  
  div.alert.alert-info
    | Thank you. You may continue to <a href="/account/">your account</a>.
