extends ../layouts/default

block head
  title Drywall.js is Running

block body
  div.hero-unit
    h1 #{projectName}
    p.lead
      | Server = [node.js, express, jade, mongoose, passport, emailjs, async]
      br
      | Client = [bootstrap, backbone.js, jquery]
  div.row
    div.span4
      h3 About Us
      p
        | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
      a.btn(href='/about/') Learn More
    div.span4
      h3 Contact Us
      p
        | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
      a.btn(href='/contact/') Learn More
    div.span4
      h3 Login
      p
        | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
      a.btn(href='/login/') Learn More