extends ../layouts/default

block head
  title Drywall is Running

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  div.jumbotron
    h1 Success
    p.lead
      | Your Node.js website and user system is running. May the force be with you.
    div
      a.btn.btn-primary.btn-lg(href='/signup/') Create an Account
      | &nbsp;or&nbsp;
      a.btn.btn-warning.btn-lg(href='/login/forgot/') Reset Your Password
    div.clearfix
  div.row
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 About Us
          p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
          a.btn.btn-default.btn-block(href='/about/') Learn More
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Sign Up
          p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
          a.btn.btn-default.btn-block(href='/signup/') Learn More
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Contact Us
          p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
          a.btn.btn-default.btn-block(href='/contact/') Learn More
