h3 Forgot your password?
p
  | We received a request to reset the password for your account (#{username}).
p
  | To reset your password, click on the link below (or copy and paste the URL into your browser):
p
  a(href='#{resetLink}') #{resetLink}
p
  | Thanks,
  br
  | #{projectName}
