<form name="form" novalidate class="login-form">
    <div class="modal-header">
        <h4>Sign in</h4>
    </div>
    <div class="modal-body">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <div class="form-group">
            <label class="control-label" for="login">Username or Email:</label>
            <input class="form-control" type="text" name="login" id="login" ng-model="user.email" required autofocus>
        </div>
        <div class="form-group">
            <label class="control-label" for="pass">Password:</label>
            <input class="form-control" type="password" name="pass" id="pass" ng-model="user.password" required>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary login" ng-click="login()" ng-disabled='form.$invalid'>Sign in</button>
        <button class="btn clear" ng-click="clearForm()">Clear</button>
        <button class="btn btn-warning cancel" ng-click="cancelLogin()">Cancel</button>
    </div>
</form>
