extends ../../../layouts/admin

block head
  title Admin Groups / Details
  link(rel='stylesheet', href='/views/admin/admin-groups/details.min.css?#{cacheBreaker}')

block feet
  script(src='/views/admin/admin-groups/details.min.js?#{cacheBreaker}')

block body
  #header
  #details.form-horizontal
  #permissions.form-horizontal
  #delete.form-horizontal
  
  script(type='text/template', id='tmpl-header')
    div.page-header
      h1
        a(href='/admin/admin-groups/') Admin Groups
        |  / <%= name %>
  
  script(type='text/template', id='tmpl-details')
    legend Details
    div.alerts
      |<% _.each(errors, function(err) { %>
      div.alert.alert-error
        button.close(type='button', data-dismiss='alert') &times;
        |<%= err %>
      |<% }); %>
      |<% if (success) { %>
      div.alert.alert-info
        button.close(type='button', data-dismiss='alert') &times;
        | Changes have been saved.
      |<% } %>
    div.control-group(class!='<%= errfor.name ? "error" : "" %>')
      label.control-label Name:
      div.controls
        input(type='text', name='name', value!='<%= name %>')
        span.help-inline <%= errfor.name %>
    div.form-actions
      button.btn.btn-primary.btn-update(type='button') Update
  
  script(type='text/template', id='tmpl-permissions')
    legend Permissions
    div.alerts
      |<% _.each(errors, function(err) { %>
      div.alert.alert-error
        button.close(type='button', data-dismiss='alert') &times;
        |<%= err %>
      |<% }); %>
      |<% if (success) { %>
      div.alert.alert-info
        button.close(type='button', data-dismiss='alert') &times;
        | Changes have been saved.
      |<% } %>
    div.control-group(class!='<%= errfor.newPermission ? "error" : "" %>')
      label.control-label New Setting:
      div.controls
        div.input-append
          input(name='newPermission', type='text', placeholder='enter a name')
          button.btn.btn-success.btn-add(type='button') Add
        span.help-inline <%= errfor.newUsername %>
    div.control-group(class!='<%= errfor.newPermission ? "error" : "" %>')
      label.control-label Settings:
      div.controls.permissions
        |<% _.each(permissions, function(permission) { %>
        div
          div.input-append
            span.uneditable-input
              |<%= permission.name %>
            |<% if (permission.permit) { %>
            button.btn.btn-allow(type='button', disabled) Allow
            button.btn.btn-deny(type='button') Deny
            |<% } else { %>
            button.btn.btn-allow(type='button') Allow
            button.btn.btn-deny(type='button', disabled) Deny
            |<% } %>
            button.btn.btn-danger.btn-delete(type='button')
              i.icon-trash.icon-white
        |<% }); %>
        |<% if (permissions.length == 0) { %>
        span.badge
          | no permissions defined
        |<% } %>
        span.help-inline <%= errfor.settings %>
    div.form-actions
      button.btn.btn-primary.btn-set(type='button') Save Settings
  
  script(type='text/template', id='tmpl-delete')
    legend Danger Zone
    div.alerts
      |<% _.each(errors, function(err) { %>
      div.alert.alert-error
        button.close(type='button', data-dismiss='alert') &times;
        |<%= err %>
      |<% }); %>
    span.badge.badge-important
      | If you do this, it cannot be undone.
    | 
    span.muted
      | You may also create orphaned document relationships too.
    div.form-actions
      button.btn.btn-danger.btn-delete(type='button') Delete
  
  script(type='text/template', id='data-record') !{data.record}