<div class="row" id="signup">
    <div class="col-sm-6">
        <div class="page-header"><h1>Sign Up</h1></div>
        <form name="signupForm">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
            <div class="form-group" ng-class="{'has-error': hasError(signupForm.username)}">
                <label class="control-label" for="username">Pick a Username:</label>
                <input type="text" name="username" id="username" class="form-control" ng-model="user.username" required server-error>
                <span class="help-block" ng-show="showError(signupForm.username, 'required')">This field is required</span>
                <span class="help-block" ng-show="showError(signupForm.username, 'server')">{{errfor.username}}</span>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(signupForm.email)}">
                <label class="control-label" for="email">Enter Your Email:</label>
                <input type="email" name="email" id="email" class="form-control" ng-model="user.email" required server-error>
                <span class="help-block" ng-show="showError(signupForm.email, 'required')">This field is required</span>
                <span class="help-block" ng-show="showError(signupForm.email, 'email')">Please enter a valid email</span>
                <span class="help-block" ng-show="showError(signupForm.email, 'server')">{{errfor.email}}</span>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(signupForm.password)}">
                <label class="control-label" for="password">Create a Password:</label>
                <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required server-error>
                <span class="help-block" ng-show="showError(signupForm.password, 'required')">This field is required</span>
                <span class="help-block" ng-show="showError(signupForm.password, 'server')">{{errfor.password}}</span>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary btn-signup" ng-disabled="!canSave(signupForm)" ng-click="submit()">Create My Account</button>
            </div>
        </form>
        <div ng-if="social">
            <hr>
            <p>Or sign in using...</p>
            <div class="btn-group btn-group-justified">
                <a ng-repeat="(provider, property) in social" ng-href="{{property.login}}" target="_self" class="btn btn-info"><i ng-class="'fa ' + property.icon + ' fa-lg'"></i> {{property.text}}</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 marketing">
        <div class="page-header"><h1>Campy Benefits</h1></div>
        <p class="lead">Really, you will love it inside. It's super great!</p>
        <i class="fa fa-thumbs-o-up super-awesome"></i>
    </div>
</div>