<div class="row" id="admin-groups-detail">
    <div class="col-xs-12">
        <div class="page-header">
            <h1><a href="/admin/admin-groups">Admin Groups</a> / {{group.name}}</h1>
        </div>
        <form name="detailForm"><fieldset>
            <legend>Details</legend>
            <alert ng-repeat="alert in detailAlerts" type="{{alert.type}}" close="closeDetailAlert($index)">{{alert.msg}}</alert>
            <div class="form-group" ng-class="{'has-error': hasError(detailForm.name)}">
                <label class="control-label" for="name">Name:</label>
                <input type="text" name="name" id="name" class="form-control" ng-model="group.name" required>
                <span class="help-block" ng-show="showError(detailForm.name, 'required')">This field is required</span>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" ng-disabled="!canSave(detailForm)" ng-click="update()">Update</button>
            </div>
        </fieldset></form>
        <form name="permissionForm"><fieldset>
            <legend>Permissions</legend>
            <alert ng-repeat="alert in permissionAlerts" type="{{alert.type}}" close="closePermissionAlert($index)">{{alert.msg}}</alert>
            <div class="form-group">
                <label class="control-label">New Setting:</label>
                <div class="input-group">
                    <input name="permission" type="text" placeholder="enter a name" class="form-control" ng-model="newPermission">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success" ng-click="addPermission()">Add</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Settings:</label>
                <div class="permissions">
                    <div class="input-group" ng-repeat="permission in group.permissions">
                        <input disabled ng-model="permission.name" class="form-control" disabled>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-class="{disabled: permission.permit}" ng-click="togglePermission($index)">Allow</button>
                            <button type="button" class="btn btn-default" ng-class="{disabled: !permission.permit}" ng-click="togglePermission($index)">Deny</button>
                            <button type="button" class="btn btn-danger btn-delete" ng-click="deletePermission($index)"><i class="fa fa-trash-o fa-inverse"></i></button>
                        </div>
                    </div>
                    <span class="badge" ng-show="group.permissions.length === 0">no permissions defined</span>
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" ng-click="saveSettings()">Save Settings</button>
            </div>
        </fieldset></form>
        <form name="deleteForm"><fieldset>
            <legend>Danger Zone</legend>
            <alert ng-repeat="alert in deleteAlerts" type="{{alert.type}}" close="closeDeleteAlert($index)">{{alert.msg}}</alert>
            <div class="form-group">
                <span class="help-block">
                    <span class="label label-danger">If you do this, it cannot be undone.</span>&nbsp;<span class="text-muted">You may also create orphaned document relationships too.</span>
                </span>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-danger btn-delete" ng-click="deleteAdminGroup()">Delete</button>
            </div>
        </fieldset></form>
    </div>
</div>