extends ../../layouts/default

block head
  title Sign Up

block feet
  script(src='/views/signup/index.min.js?#{cacheBreaker}')

block body
  div.page-header
    h1 Sign Up
  #signup
  
  if oauthTwitter || oauthGitHub || oauthFacebook
    div.form-horizontal
      h2 Or Sign Up With...
      if oauthMessage
        div.alerts
          div.alert.alert-info
            button.close(type='button', data-dismiss='alert') &times;
            |#{oauthMessage} 
            b
              a(href='/login/') Login Here
      div.form-actions
        div.btn-group
          if oauthTwitter
            a.btn.btn-info(href='/signup/twitter/')
              i.icon-twitter.icon-large
              |  Twitter
          if oauthGitHub
            a.btn.btn-info(href='/signup/github/')
              i.icon-github.icon-large
              |  GitHub
          if oauthFacebook
            a.btn.btn-info(href='/signup/facebook/')
              i.icon-facebook-sign.icon-large
              |  Facebook
  
  script(type='text/template', id='tmpl-signup')
    form.form-horizontal
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-error
          button.close(type='button', data-dismiss='alert') &times;
          |<%= err %>
        |<% }); %>
      div.control-group(class!='<%= errfor.username ? "error" : "" %>')
        label.control-label Pick a Username:
        div.controls
          input(type='text', name='username', value!='<%= username %>')
          span.help-inline <%= errfor.username %>
      div.control-group(class!='<%= errfor.email ? "error" : "" %>')
        label.control-label Enter Your Email:
        div.controls
          input(type='text', name='email', value!='<%= email %>')
          span.help-inline <%= errfor.email %>
      div.control-group(class!='<%= errfor.password ? "error" : "" %>')
        label.control-label Create a Password:
        div.controls
          input(type='password', name='password', value!='<%= password %>')
          span.help-inline <%= errfor.password %>
      div.form-actions
        button.btn.btn-primary.btn-signup(type='button') Create My Account