extends ../../../layouts/admin

block head
  title Users / Details

block feet
  script(src='/views/admin/users/details.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-xs-12
      div#header
      div#identity
      div#roles
      div#password
      div#delete

  script(type='text/template', id='tmpl-header')
    div.page-header
      h1
        a(href='/admin/users/') Users
        |  / <%= username %>

  script(type='text/template', id='tmpl-identity')
    fieldset
      legend Identity
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
        |<% if (success) { %>
        div.alert.alert-info.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          | Changes have been saved.
        |<% } %>
      div.form-group(class!='<%- errfor.isActive ? "has-error" : "" %>')
        label Is Active:
        select.form-control(name='isActive')
          option(value='yes') yes
          option(value='no') no
        span.help-block <%- errfor.isActive %>
      div.form-group(class!='<%- errfor.username ? "has-error" : "" %>')
        label Username:
        input.form-control(type='text', name='username', value!='<%= username %>')
        span.help-block <%- errfor.username %>
      div.form-group(class!='<%- errfor.email ? "has-error" : "" %>')
        label Email:
        input.form-control(type='text', name='email', value!='<%= email %>')
        span.help-block <%- errfor.email %>
      div.form-group
        button.btn.btn-primary.btn-update(type='button') Update

  script(type='text/template', id='tmpl-roles')
    fieldset
      legend Roles
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
      div.form-group(class!='<%- errfor.newAdminId ? "has-error" : "" %>')
        label Admin:
        div.controls
          div.input-group
            |<% if (roles && roles.admin) { %>
            input.form-control(disabled=true, value!='<%= roles.admin.name.full %>')
            div.input-group-btn
              button.btn.btn-warning.btn-admin-unlink(type='button') Unlink
              button.btn.btn-default.btn-admin-open(type='button') Open
            |<% } else { %>
            input.form-control(name='newAdminId', type='text', placeholder='enter admin id')
            div.input-group-btn
              button.btn.btn-success.btn-admin-link(type='button') Link
            |<% } %>
          span.help-block <%- errfor.newAdminId %>
      div.form-group(class!='<%- errfor.newAccountId ? "has-error" : "" %>')
        label Account:
        div.input-group
          |<% if (roles && roles.account) { %>
          input.form-control(disabled=true, value!='<%= roles.account.name.full %>')
          div.input-group-btn
            button.btn.btn-warning.btn-account-unlink(type='button') Unlink
            button.btn.btn-default.btn-account-open(type='button') Open
          |<% } else { %>
          input.form-control(name='newAccountId', type='text', placeholder='enter account id')
          div.input-group-btn
            button.btn.btn-success.btn-account-link(type='button') Link
          |<% } %>
        span.help-block <%- errfor.newAccountId %>

  script(type='text/template', id='tmpl-password')
    fieldset
      legend Set Password
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
      |<% if (success) { %>
      div.alert.alert-info.alert-dismissable
        button.close(type='button', data-dismiss='alert') &times;
        | A new password has been set.
      |<% } %>
      div.form-group(class!='<%- errfor.newPassword ? "has-error" : "" %>')
        label New Password:
        input.form-control(type='password', name='newPassword', value!='<%= newPassword %>')
        span.help-block <%- errfor.newPassword %>
      div.form-group(class!='<%- errfor.confirm ? "has-error" : "" %>')
        label Confirm Password:
        input.form-control(type='password', name='confirm', value!='<%= confirm %>')
        span.help-block <%- errfor.confirm %>
      div.form-group
        button.btn.btn-primary.btn-password(type='button') Set Password

  script(type='text/template', id='tmpl-delete')
    fieldset
      legend Danger Zone
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
      div.form-group
        span.help-block
          span.label.label-danger If you do this, it cannot be undone.
          |&nbsp;
          span.text-muted You may also create orphaned document relationships too.
      div.form-group
        button.btn.btn-danger.btn-delete(type='button') Delete

  script(type='text/template', id='data-record') !{data.record}
