extends ../../../layouts/admin

block head
  title Users / Details

block feet
  script(src='/views/admin/users/details.js')

block body
  #header
  #identity.form-horizontal
  #roles.form-horizontal
  #password.form-horizontal
  #delete.form-horizontal
  
  script(type='text/template', id='tmpl-header')
    div.page-header
      h1
        a(href='/admin/users/') Users
        |  / <%= username %>
  
  script(type='text/template', id='tmpl-identity')
    legend Identity
    div.alerts
      |<% _.each(errors, function(err) { %>
      div.alert.alert-error
        |<%= err %>
      |<% }); %>
      |<% if (success) { %>
      div.alert.alert-info
        | Changes have been saved.
      |<% } %>
    div.control-group(class!='<%= errfor.isActive ? "error" : "" %>')
      label.control-label Is Active:
      div.controls
        select(name='isActive')
          option(value='yes') yes
          option(value='no') no
        span.help-inline <%= errfor.isActive %>
    div.control-group(class!='<%= errfor.username ? "error" : "" %>')
      label.control-label Username:
      div.controls
        input(type='text', name='username', value!='<%= username %>')
        span.help-inline <%= errfor.username %>
    div.control-group(class!='<%= errfor.email ? "error" : "" %>')
      label.control-label Email:
      div.controls
        input(type='text', name='email', value!='<%= email %>')
        span.help-inline <%= errfor.email %>
    div.form-actions
      button.btn.btn-primary.btn-update(type='button') Update
  
  script(type='text/template', id='tmpl-roles')
    legend Roles
    div.alerts
      |<% _.each(errors, function(err) { %>
      div.alert.alert-error
        |<%= err %>
      |<% }); %>
    div.control-group(class!='<%= errfor.newAdminId ? "error" : "" %>')
      label.control-label Admin:
      div.controls
        div.input-append
          |<% if (roles.admin) { %>
          span.uneditable-input
            |<%= roles.admin.name.first +' '+ roles.admin.name.last %>
          button.btn.btn-warning.btn-admin-unlink(type='button') Unlink
          button.btn.btn-admin-open(type='button') Open
          |<% } else { %>
          input(name='newAdminId', type='text', placeholder='enter admin id')
          button.btn.btn-success.btn-admin-link(type='button') Link
          |<% } %>
        span.help-inline <%= errfor.newAdminId %>
    div.control-group(class!='<%= errfor.newAccountId ? "error" : "" %>')
      label.control-label Account:
      div.controls
        div.input-append
          |<% if (roles.account) { %>
          span.uneditable-input
            |<%= roles.account.name.first +' '+ roles.account.name.last %>
          button.btn.btn-warning.btn-account-unlink(type='button') Unlink
          button.btn.btn-account-open(type='button') Open
          |<% } else { %>
          input(name='newAccountId', type='text', placeholder='enter account id')
          button.btn.btn-success.btn-account-link(type='button') Link
          |<% } %>
        span.help-inline <%= errfor.newAccountId %>
  
  script(type='text/template', id='tmpl-password')
    legend Set Password
    div.alerts
      |<% _.each(errors, function(err) { %>
      div.alert.alert-error
        |<%= err %>
      |<% }); %>
    |<% if (success) { %>
    div.alert.alert-info
      | A new password has been set.
    |<% } %>
    div.control-group(class!='<%= errfor.newPassword ? "error" : "" %>')
      label.control-label New Password:
      div.controls
        input(type='password', name='newPassword', value!='<%= newPassword %>')
        span.help-inline <%= errfor.newPassword %>
    div.control-group(class!='<%= errfor.confirm ? "error" : "" %>')
      label.control-label Confirm Password:
      div.controls
        input(type='password', name='confirm', value!='<%= confirm %>')
        span.help-inline <%= errfor.confirm %>
    div.form-actions
      button.btn.btn-primary.btn-password(type='button') Set Password
  
  script(type='text/template', id='tmpl-delete')
    legend Danger Zone
    div.alerts
      |<% _.each(errors, function(err) { %>
      div.alert.alert-error
        |<%= err %>
      |<% }); %>
    span.badge.badge-important
      | If you do this, it cannot be undone.
    | 
    span.muted
      | You may also create orphaned document relationships too.
    div.form-actions
      button.btn.btn-danger.btn-delete(type='button') Delete
  
  script(type='text/template', id='data-record') !{data.record}