doctype 5
html
  head
    block head
      title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/layouts/utility.css')
    link(rel='stylesheet', href='/layouts/default.css')
    block neck
  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/')
            img(src='/media/logo-black.png', width='150')
          div.nav-collapse
            ul.nav
              li: a(href='/') Home
              li: a(href='/about/') About
              li: a(href='/signup/') Sign Up
              li: a(href='/contact/') Contact
            ul.nav.pull-right
              li: a(href='/login/')
                i.icon-user
                |  Login
    
    div.page
      div.container
        block body
    
    div.footer
      div.container
        div.inner
          span.copyright.pull-right
            &#169; #{copyrightYear} #{copyrightName}
          ul.links
            li: a(href='/') Home
            li: a(href='/about/') About
            li: a(href='/signup/') Sign Up
            li: a(href='/contact/') Contact
          div.clearfix
    
    div.ajax-spinner
      img(src='/media/ajax-pulse.gif')
    
    script(src='/vendor/jquery/jquery-1.8.2.min.js')
    script(src='/vendor/underscore/underscore-min.js')
    script(src='/vendor/backbone/backbone-min.js')
    script(src='/vendor/bootstrap/js/bootstrap.min.js')
    script(src='/layouts/utility.js')
    
    block feet