@import "../less/trailmix.less";

/* compensate for navbar */
body {
  padding: 60px 0 40px 0;
} 
@media (max-width: 980px) {
  body {
    padding: 0px;
  }
  .container {
    padding: 0 20px 0 20px;
  }
}

/* global font/type settings */
h1, h2 {
  letter-spacing: -2px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
legend {
  letter-spacing: -1px;
}

/* customize nav bar */
.navbar .navbar-inner {
  border: 0;
  .box-shadow(0 2px 10px rgba(0,0,0,.25));
}
.navbar .brand {
  position: relative;
  width: 160px;
}
.navbar .brand img {
  position: absolute;
  top: 10px;
  left: 30px;
}
.navbar .nav > li > a {
  padding: 20px 15px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
@media (max-width: 980px) {
  .navbar-fixed-top, .navbar-fixed-bottom {
    position: relative;
    margin: 0;
  }
  .navbar .brand {
    position: static;
    width: 150px;
    height: 30px;
  }
  .navbar .btn-navbar {
    margin-top: 10px;
  }
  .navbar .brand img {
    top: 10px;
    left: 10px;
    position: absolute;
  }
  .navbar .nav > li > a {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 10px;
  }
}
.navbar-search {
  margin-top: 15px;
}

/* tables */
.table thead th {
  background-color: #ddd;
}

/* footer */
.footer {
  margin-top: 50px;
  color: #999;
}
.footer .container {
  border-top: 1px solid #ccc;
  .border-radius(4px);
}
.footer .container .inner {
  padding: 20px;
}
.footer a,
.footer a:visited {
  color: #999;
}
.footer .links {
  margin: 0;
}
.footer .links li {
  display: inline-block;
  padding-right: 10px;
  margin-right: 10px;
  list-style: none;
  border-right: 1px dotted #999;
}
.footer .links li:last-child {
  padding-right: 0;
  margin-right: 0;
  border: none;
}

/* utility styles */
.stretch {
  width: 100%;
}
.nowrap {
  white-space: nowrap;
}
.wrap {
  white-space: normal;
}

.ajax-spinner {
  position: absolute;
  z-index: 999;
  display: none;
  padding: 5px;
  font-size: inherit;
  line-height: 11px;
  background-color: #ccc;
  .border-radius(4px);
}​
.ajax-spinner img {
  width: inherit;
  height: inherit;
  margin: 0;
}