@import url(../../vendor/bootstrap/css/bootstrap.min.css);
@import url(../../vendor/bootstrap/css/bootstrap-responsive.min.css);
@import url(./utility.css);

/* compensate for navbar */
body {
  padding-top: 60px;
  padding-bottom: 40px;
}
@media (max-width: 980px) {
  body {
    padding-top: 0px;
  }
  .footer ul.links {
    display: none;
  }
}

/* tables */
table.table thead th {
  background-color: #ddd;
}

/* footer */
.footer {
    color: #999;
    margin-top: 50px;
}
.footer .container {
    border-top: 1px solid #ccc;
    
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.footer .container .inner {
    padding: 20px;
}
.footer a,
.footer a:visited {
    color: #999;
}
.footer ul.links {
    margin: 0px;
}
.footer ul.links li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px dotted #999;
}
.footer ul.links li:last-child {
    padding-right: 0px;
    margin-right: 0px;
    border: none;
}
