extends ../../../layouts/admin

block head
  title Statuses / Details

block feet
  script(src='/views/admin/statuses/details.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-xs-12
      div#header
      div#details
      div#delete

  script(type='text/template', id='tmpl-header')
    div.page-header
      h1
        a(href='/admin/statuses/') Statuses
        |  / <%- name %>

  script(type='text/template', id='tmpl-details')
    fieldset
      legend Details
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
        |<% if (success) { %>
        div.alert.alert-info.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          | Changes have been saved.
        |<% } %>
      div.form-group(class!='<%- errfor.pivot ? "has-error" : "" %>')
        label Pivot:
        input.form-control(type='text', name='pivot', value!='<%- pivot %>')
        span.help-block <%- errfor.pivot %>
      div.form-group(class!='<%- errfor.name ? "has-error" : "" %>')
        label Name:
        input.form-control(type='text', name='name', value!='<%- name %>')
        span.help-block <%- errfor.name %>
      div.form-group
        button.btn.btn-primary.btn-update(type='button') Update

  script(type='text/template', id='tmpl-delete')
    fieldset
      legend Danger Zone
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
      div.form-group
        span.help-block
          span.label.label-danger If you do this, it cannot be undone.
          |&nbsp;
          span.text-muted You may also create orphaned document relationships too.
      div.form-group
        button.btn.btn-danger.btn-delete(type='button') Delete

  script(type='text/template', id='data-record') !{data.record}
