.groups div .input-append .uneditable-input,
.permissions div .input-append .uneditable-input {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}
.groups div .input-append .btn-delete,
.permissions div .input-append .btn-delete {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}
.groups div:first-of-type .input-append .uneditable-input,
.permissions div:first-of-type .input-append .uneditable-input {
  border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}
.groups div:first-of-type .input-append .btn-delete,
.permissions div:first-of-type .input-append .btn-delete {
  border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}
.groups div:last-of-type .input-append .uneditable-input,
.permissions div:last-of-type .input-append .uneditable-input {
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}
.groups div:last-of-type .input-append .btn-delete,
.permissions div:last-of-type .input-append .btn-delete {
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}