/* status */
#status-new legend {
}
#status-collection #status-items {
  margin-bottom: 10px;
  overflow: scroll;
}
#status-collection #status-items div.status {
  font-size: 12px;
  padding: 10px 5px;
  border-bottom: 1px solid #ccc;
  
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
#status-collection #status-items div.status .author {
  font-weight: normal;
  color: #999;
  text-shadow: none;
  background-color: transparent;
  border: 1px solid #ccc;
}
#status-collection #status-items div.status:nth-child(even) {
  background-color: #f5f5f5;
}

/* notes */
#notes-new legend {
}
#notes-new textarea {
  margin-bottom: 0px;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom: none;
}
#notes-new .btn {
  border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
}
#notes-collection #notes-items {
  
}
#notes-collection #notes-items div.note {
  font-size: 12px;
  padding: 10px 5px;
  border-bottom: 1px solid #ccc;
  
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
#notes-collection #notes-items div.note .author {
  font-weight: normal;
  color: #999;
  text-shadow: none;
  background-color: transparent;
  border: 1px solid #ccc;
}
#notes-collection #notes-items div.note:nth-child(even) {
  background-color: #f5f5f5;
}